// /* навігація */

.header {
    position: relative;
    border-bottom: 1px solid #ECECEC;

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__navigation {
        display: block;
        width: 100%;

        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.header__navigation li:last-child {
    @media screen and (max-width: 767px) {
        margin-bottom: 300px;
    }
}