// /* модальне вікно */

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: transform 250ms, opacity 250ms, visibility 250ms;

    & .modal {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms $animation-timing-function;

}

.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $animation-timing-function;
    width: 100%;
    max-width: 450px;
    max-height: 609px;
    height: 100%;
    overflow: auto;
    background-color: $color-white;
    box-shadow: $modal-shadow;
    border-radius: 4px;

    @media screen and (min-width: $desktop) {
        width: 100%;
        max-width: 528px;
        height: 100%;
        max-height: 581px;
    }

}

.modal__button--close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background-color: $color-white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    @include flex-center;
}

.modal__button--close {
    @include hover ($color-accent);
    cursor: pointer;

}

.modal__header {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.5;
    color: $color-title;

    @media screen and (min-width: $desktop) {
        line-height: 1.15;
    }
}

.modal__button--position {
    position: relative;
}

.modal__button {
    @include button;
    @extend %btn;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
}
