    $text-font: 'Roboto', sans-serif;
    $logo-font: 'Raleway', sans-serif;
    $color-white: #fff;
    $color-black: #000;
    $button-background-color: #F5F4FA;
    $footer-background-color: #2F303A;
    $color-accent: #2196F3;
    $color-text: #757575;
    $color-title: #212121;
    $contacts-text-color: rgba(255, 255, 255, 0.6);
    $color-button-active: #188CE8;
    $color-icon: #AFB1B8;
    $animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    $modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    $project-list-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    $portfolio-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    $main-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px;
    $none-decoration: none;
    $font-size-logo-mob: 24px;
    $line-height-logo-mob: 1.1666;
    $font-size-logo-desk: 26px;
    $line-height-logo-desk: 1.1923;


